/*CSS Rules for the sidebar on the main page*/
aside{
    /*Set background color, text color, center the text, and set the maximum width, then set place on page*/
    background-color:#484848;
    color:white;
    text-align:center;
    width:20%;
    float:left;
}
/*Hyperlink color for the side bar*/
aside a{
    color:black;
}
/*Div "article" is the right hand side, or where the article is stored*/
article{
    /*Set maximum width, color, text color, and its potisiton on page*/
    width:80%;
    background-color:#DDF2ED;
    color:black;
    float:left;
}
/*Give us a little marin on the text part of the article div*/
#information{
    margin-left:5%;
    margin-right:5%;
}
/*Headings are the main heading div inside article and information*/
#heading{
    font-size: 2.5em;
    font-weight:bold;
    font-family: "Lucida Console", Monaco, monospace
}
/*Set some font sizes for h1 and h2*/
h1{
        
    font-size: 200%;
}
h2 {
    font-size: 120%;
}
/*Set some color choices for h3 and h4*/
h3{
    color:white;
}
h4{
    color:black;
}
/*Set the construction image max width*/
#construction{
    width:40%;
}
/*Set a background color for the page*/
body {
    background-color: #BBE4DA;
}
.carousel .item.left img{
    width: 100% !important;
}
.carousel .item.right img{
    width: 100% !important;
}