/*Set some borders for our table*/
table, td, th {
    border: 1px solid black;
}
/*Set the table headers background color and text color*/
th {
    background-color: black;
    color: white;
}
/*I KNOW THIS WONT WORK IN IE 7, but it wont crash it either*/
/*Set every odd and even row a different color*/
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: white}
